<div class="jumbotron">
  <h1>AngularJS and Bootstrap Tutorial</h1>
  <p class="lead">
    <img src="images/angularjs.png" alt="AngularJS" width="150px">
    <img src="images/bootstrap.png" alt="Bootstrap" width="120px"><br>
    Try to build an applpication using a public API!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Let's start! <span class="glyphicon glyphicon-thumbs-up"></span></a></p>
</div>

<div class="row marketing">
  <p>We are going to use several technologies:</p>
  <div ng-repeat="thing in main.awesomeThings">
    <h4>{{ thing.title }}</h4>
    <p>{{ thing.description }}</p>
  </div>
</div>
