<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="movies.search()">Go!</button>
  </span>
  <input class="form-control" type="text" placeholder="Search for movies..." autofocus ng-model="movies.keywords"/>
</div>
<table class="table table-striped" ng-hide="movies.isMoviesEmpty()">
  <thead>
    <tr>
      <td>Name</td>
      <td>Year</td>
      <td>Genre</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="movie in movies.selectedMovies | orderBy: 'Title'">
      <td>{{ movie.Title }}</td>
      <td>{{ movie.Year }}</td>
      <td>{{ movie.Type }}</td>
    </tr>
  </tbody>
</table>
<br/>